if [[ $(whoami) == "$USERNMAE ]];then
#   export GOROOT=$HOME/.local/go/root
#   export PATH=$GOROOT/bin:$PATH

    export GOPATH=$HOME/.local/go/path
    export PATH=$GOPATH/bin:$PATH
fi

export PATH=$HOME/.local/bin:$HOME/.local/sbin:$PATH:.
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/.local/lib


